.parent {
    margin: 10px;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: flex-start;
    height: 100vh;
}

.sub-container-1{
    flex: 1; 
    /* margin: 0 5px;  */
    padding: 5px;
    height: 450px;
     
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-container-2{
    flex: 1; 
    /* margin: 0 5px;  */
    padding: 5px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-container-3{
    flex: 1; 
    /* margin: 5px;  */
    /* padding: 5px; */
    height: 350px;
    margin-top: '5px';
    border-style: ridge;
   
}

.sub-container-1-child-A1 {
    width: 100%;
    height: 140px;
    border-style: ridge;
    /* padding: 5px; */
    
}

.sub-container-1-child-A2 {
    width: 100%;
    height: 300px;
    border-style: ridge;
    /* padding: 5px; */
    /* color: black;
    /* display: flex;
    /* flex-direction: column; */

}


.sub-container-2-child-B1 {
    width: 100%;
    height: 150px;
    border-style: ridge;
    /* padding: 5px; */
}

.sub-container-2-child-B2 {
    width: 100%;
    height: 350px;
    border-style: ridge;
}

@media (max-width: 768px) {
    .main-container {
    display: block;
    }
}
